USE [YadodVivuFinal]
GO
/****** Object:  Table [dbo].[Activity]    Script Date: 6/23/2023 7:58:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activity](
	[Activity_ID] [int] IDENTITY(1,1) NOT NULL,
	[ActivityName] [nvarchar](100) NULL,
	[Landscape_Address] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Activity_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 6/23/2023 7:58:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[City_ID] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[City_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discount]    Script Date: 6/23/2023 7:58:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discount](
	[Discount_ID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](100) NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[Discount] [int] NULL,
	[Quantity] [int] NULL,
	[DiscountCode] [nchar](10) NULL,
 CONSTRAINT [PK__Discount__6C137224F0D2F822] PRIMARY KEY CLUSTERED 
(
	[Discount_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 6/23/2023 7:58:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TourID] [int] NULL,
	[UserID] [int] NULL,
	[Context] [nvarchar](max) NULL,
	[Vote] [int] NULL,
 CONSTRAINT [PK_Feedback] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hotel]    Script Date: 6/23/2023 7:58:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hotel](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Room] [int] NULL,
	[Active] [int] NULL,
	[isDelete] [bit] NULL,
	[IMG] [nvarchar](250) NULL,
	[Description] [nvarchar](4000) NULL,
	[CityID] [int] NULL,
 CONSTRAINT [PK_Hotel] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 6/23/2023 7:58:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Order_ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[Date] [datetime] NULL,
	[TotalPrice] [money] NULL,
	[Status] [int] NULL,
	[TourID] [int] NULL,
	[People] [int] NULL,
	[StartAddress] [nvarchar](50) NULL,
	[StartDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 6/23/2023 7:58:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Role_ID] [int] IDENTITY(1,1) NOT NULL,
	[Role_name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Role_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 6/23/2023 7:58:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nchar](10) NULL,
	[Name] [nvarchar](500) NULL,
	[UserID] [int] NULL,
	[TourID] [int] NULL,
 CONSTRAINT [PK_Ticket] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tour]    Script Date: 6/23/2023 7:58:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tour](
	[Tour_ID] [int] IDENTITY(1,1) NOT NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[NumberPeople] [int] NULL,
	[Content] [nvarchar](4000) NULL,
	[IMG] [nvarchar](500) NULL,
	[TotalPrice] [money] NULL,
	[isDelete] [bit] NULL,
	[Type_ID] [int] NULL,
	[HotelID] [int] NULL,
	[TourName] [nvarchar](100) NULL,
 CONSTRAINT [PK__Tour__D436A8635CB93D00] PRIMARY KEY CLUSTERED 
(
	[Tour_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TourActivity]    Script Date: 6/23/2023 7:58:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourActivity](
	[Tour_ID] [int] NULL,
	[Activity_ID] [int] NULL,
	[Time] [time](7) NULL,
	[Is Active] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TourDiscount]    Script Date: 6/23/2023 7:58:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourDiscount](
	[Discount_ID] [int] NULL,
	[Tour_ID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TourType]    Script Date: 6/23/2023 7:58:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourType](
	[Type_ID] [int] IDENTITY(1,1) NOT NULL,
	[Type_name] [nvarchar](100) NULL,
	[Is_Delete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Type_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 6/23/2023 7:58:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[cmnd] [varchar](16) NULL,
	[Email] [nvarchar](100) NULL,
	[UserName] [nvarchar](100) NULL,
	[Password] [nvarchar](100) NULL,
	[Phone] [nvarchar](10) NULL,
	[Gender] [bit] NULL,
	[DOB] [date] NULL,
	[Address] [nvarchar](100) NULL,
	[IsBlocked] [bit] NULL,
	[Role_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Activity] ON 

INSERT [dbo].[Activity] ([Activity_ID], [ActivityName], [Landscape_Address]) VALUES (1, N'Ăn Sáng', N'Khách sạn MT')
INSERT [dbo].[Activity] ([Activity_ID], [ActivityName], [Landscape_Address]) VALUES (2, N'Tắm biển', N'Bãi biển Mỹ Khê')
INSERT [dbo].[Activity] ([Activity_ID], [ActivityName], [Landscape_Address]) VALUES (3, N'Massage', N'Khách sạn MT')
SET IDENTITY_INSERT [dbo].[Activity] OFF
GO
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([City_ID], [CityName]) VALUES (1, N'An Giang')
INSERT [dbo].[City] ([City_ID], [CityName]) VALUES (2, N'Vũng Tàu')
INSERT [dbo].[City] ([City_ID], [CityName]) VALUES (3, N'Bạc Liêu')
SET IDENTITY_INSERT [dbo].[City] OFF
GO
SET IDENTITY_INSERT [dbo].[Discount] ON 

INSERT [dbo].[Discount] ([Discount_ID], [Description], [StartDate], [EndDate], [Discount], [Quantity], [DiscountCode]) VALUES (1, N'Tuần lễ Thiếu Nhi', CAST(N'2023-06-01T00:00:00.000' AS DateTime), CAST(N'2023-06-07T00:00:00.000' AS DateTime), 0, NULL, NULL)
INSERT [dbo].[Discount] ([Discount_ID], [Description], [StartDate], [EndDate], [Discount], [Quantity], [DiscountCode]) VALUES (2, N'Tuần lễ Quốc Khánh', CAST(N'2023-09-02T00:00:00.000' AS DateTime), CAST(N'2023-09-08T00:00:00.000' AS DateTime), 0, NULL, NULL)
INSERT [dbo].[Discount] ([Discount_ID], [Description], [StartDate], [EndDate], [Discount], [Quantity], [DiscountCode]) VALUES (3, N'Tuần lễ Phục Sinh', CAST(N'2023-04-15T00:00:00.000' AS DateTime), CAST(N'2023-04-21T00:00:00.000' AS DateTime), 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Discount] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([ID], [TourID], [UserID], [Context], [Vote]) VALUES (1, 1, 1, N'Hay qua', 5)
INSERT [dbo].[Feedback] ([ID], [TourID], [UserID], [Context], [Vote]) VALUES (2, 1, 2, N'OK', 5)
INSERT [dbo].[Feedback] ([ID], [TourID], [UserID], [Context], [Vote]) VALUES (3, 1, 1, N'OK', 5)
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[Hotel] ON 

SET IDENTITY_INSERT [dbo].[Hotel] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([Order_ID], [UserID], [Date], [TotalPrice], [Status], [TourID], [People], [StartAddress], [StartDate]) VALUES (1087, 1, CAST(N'2023-06-14T00:00:00.000' AS DateTime), 1500000.0000, 1, 12, 1, NULL, CAST(N'2023-06-14' AS Date))
INSERT [dbo].[Order] ([Order_ID], [UserID], [Date], [TotalPrice], [Status], [TourID], [People], [StartAddress], [StartDate]) VALUES (1092, 9, CAST(N'2023-06-14T00:00:00.000' AS DateTime), 6650.8193, 1, 2, 7, N'Hay Tayy', CAST(N'2023-06-14' AS Date))
INSERT [dbo].[Order] ([Order_ID], [UserID], [Date], [TotalPrice], [Status], [TourID], [People], [StartAddress], [StartDate]) VALUES (1093, 1, CAST(N'2023-06-14T00:00:00.000' AS DateTime), 8551.0534, 0, 2, 9, N'Ha Noi 1', CAST(N'2023-06-14' AS Date))
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Role_ID], [Role_name]) VALUES (1, N'admin')
INSERT [dbo].[Role] ([Role_ID], [Role_name]) VALUES (2, N'staff')
INSERT [dbo].[Role] ([Role_ID], [Role_name]) VALUES (3, N'customer')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Ticket] ON 

INSERT [dbo].[Ticket] ([ID], [Code], [Name], [UserID], [TourID]) VALUES (3, N'dưq       ', N'Ticket', 1, 1)
INSERT [dbo].[Ticket] ([ID], [Code], [Name], [UserID], [TourID]) VALUES (10, N'9QZORGP39 ', N'dqiowmoi', 1, 12)
INSERT [dbo].[Ticket] ([ID], [Code], [Name], [UserID], [TourID]) VALUES (11, N'US9QTL6P4 ', N'Du Lịch ', 9, 2)
SET IDENTITY_INSERT [dbo].[Ticket] OFF
GO
SET IDENTITY_INSERT [dbo].[Tour] ON 

SET IDENTITY_INSERT [dbo].[Tour] OFF
GO
INSERT [dbo].[TourActivity] ([Tour_ID], [Activity_ID], [Time], [Is Active]) VALUES (1038, 1, CAST(N'12:00:00' AS Time), NULL)
INSERT [dbo].[TourActivity] ([Tour_ID], [Activity_ID], [Time], [Is Active]) VALUES (1039, 1, CAST(N'12:00:00' AS Time), NULL)
INSERT [dbo].[TourActivity] ([Tour_ID], [Activity_ID], [Time], [Is Active]) VALUES (2, 1, CAST(N'09:00:00' AS Time), 1)
GO
SET IDENTITY_INSERT [dbo].[TourType] ON 

INSERT [dbo].[TourType] ([Type_ID], [Type_name], [Is_Delete]) VALUES (1, N'Khám phá', 0)
INSERT [dbo].[TourType] ([Type_ID], [Type_name], [Is_Delete]) VALUES (2, N'Nghỉ Dưỡng', 0)
INSERT [dbo].[TourType] ([Type_ID], [Type_name], [Is_Delete]) VALUES (3, N'Trải nghiệm', 0)
SET IDENTITY_INSERT [dbo].[TourType] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [FullName], [cmnd], [Email], [UserName], [Password], [Phone], [Gender], [DOB], [Address], [IsBlocked], [Role_ID]) VALUES (1, N'Duc Tung', N'0987654321', N'tung@123.com', N'tung', N'1', N'123', 1, CAST(N'2002-12-12' AS Date), N'Ha Noi', 0, 1)
INSERT [dbo].[User] ([UserID], [FullName], [cmnd], [Email], [UserName], [Password], [Phone], [Gender], [DOB], [Address], [IsBlocked], [Role_ID]) VALUES (2, N'Tung', N'11111', N'tung', N'tung', N'tungbv123', N'123', 1, NULL, N'HN', 0, 1)
INSERT [dbo].[User] ([UserID], [FullName], [cmnd], [Email], [UserName], [Password], [Phone], [Gender], [DOB], [Address], [IsBlocked], [Role_ID]) VALUES (3, N'TUNG', N'111111111', N'Tung@dqw.com', N'tung123', N'123', N'123123123', NULL, NULL, NULL, 0, 3)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Tour] ADD  CONSTRAINT [DF__Tour__StartDate__5CD6CB2B]  DEFAULT (getdate()) FOR [StartDate]
GO
ALTER TABLE [dbo].[Tour] ADD  CONSTRAINT [DF__Tour__isDelete__5DCAEF64]  DEFAULT ((0)) FOR [isDelete]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((0)) FOR [IsBlocked]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Tour] FOREIGN KEY([TourID])
REFERENCES [dbo].[Tour] ([Tour_ID])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Tour]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_User]
GO
ALTER TABLE [dbo].[Hotel]  WITH CHECK ADD  CONSTRAINT [FK_Hotel_City] FOREIGN KEY([CityID])
REFERENCES [dbo].[City] ([City_ID])
GO
ALTER TABLE [dbo].[Hotel] CHECK CONSTRAINT [FK_Hotel_City]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Tour] FOREIGN KEY([TourID])
REFERENCES [dbo].[Tour] ([Tour_ID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Tour]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Tour] FOREIGN KEY([TourID])
REFERENCES [dbo].[Tour] ([Tour_ID])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Tour]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_User]
GO
ALTER TABLE [dbo].[Tour]  WITH CHECK ADD  CONSTRAINT [FK_Tour_Hotel] FOREIGN KEY([HotelID])
REFERENCES [dbo].[Hotel] ([ID])
GO
ALTER TABLE [dbo].[Tour] CHECK CONSTRAINT [FK_Tour_Hotel]
GO
ALTER TABLE [dbo].[Tour]  WITH CHECK ADD  CONSTRAINT [FK_Tour_TourType] FOREIGN KEY([Type_ID])
REFERENCES [dbo].[TourType] ([Type_ID])
GO
ALTER TABLE [dbo].[Tour] CHECK CONSTRAINT [FK_Tour_TourType]
GO
ALTER TABLE [dbo].[TourActivity]  WITH CHECK ADD FOREIGN KEY([Activity_ID])
REFERENCES [dbo].[Activity] ([Activity_ID])
GO
ALTER TABLE [dbo].[TourActivity]  WITH CHECK ADD  CONSTRAINT [FK__TourActiv__Tour___6383C8BA] FOREIGN KEY([Tour_ID])
REFERENCES [dbo].[Tour] ([Tour_ID])
GO
ALTER TABLE [dbo].[TourActivity] CHECK CONSTRAINT [FK__TourActiv__Tour___6383C8BA]
GO
ALTER TABLE [dbo].[TourDiscount]  WITH CHECK ADD  CONSTRAINT [FK__TourDisco__Disco__6477ECF3] FOREIGN KEY([Discount_ID])
REFERENCES [dbo].[Discount] ([Discount_ID])
GO
ALTER TABLE [dbo].[TourDiscount] CHECK CONSTRAINT [FK__TourDisco__Disco__6477ECF3]
GO
ALTER TABLE [dbo].[TourDiscount]  WITH CHECK ADD  CONSTRAINT [FK__TourDisco__Tour___656C112C] FOREIGN KEY([Tour_ID])
REFERENCES [dbo].[Tour] ([Tour_ID])
GO
ALTER TABLE [dbo].[TourDiscount] CHECK CONSTRAINT [FK__TourDisco__Tour___656C112C]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([Role_ID])
REFERENCES [dbo].[Role] ([Role_ID])
GO
